$b-color: gray;

.block {
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    border-color: $b-color;
    border-style: solid;

    h2 {
        text-align: center;
        color: darkred;
    }
}